<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-6'>
      <%= form_with url: create_url, class: 'form-inline needs-validation', novalidate: 'novalidate' do |form| %>
      <div class='input-group input-group-lg col'>
        <%= form.text_field :email, id: :email, class: 'form-control', placeholder: 'Join Our Mailing List' %>
        <div class='invalid-feedback'></div>
        <div class='input-group-append'>
          <button type='submit' class='btn btn-primary'>Submit</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
